<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
<meta name="author" content="Softnio">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<!-- Fav Icon  -->
<link rel="shortcut icon" href="images/favicon.png">
<!-- Site Title  -->
<title><%- title %></title>
<!-- Bundle and Base CSS -->
<link rel="stylesheet" href="/assets/css/vendor.bundle.css?ver=1930">
<link rel="stylesheet" href="assets/css/style-zinnia.css?ver=1930" id="changeTheme">
<!-- Extra CSS -->
<link rel="stylesheet" href="assets/css/theme.css?ver=1930">




</head>
    


    <body class="nk-body body-wider mode-onepage">

	<div class="nk-wrap">
		<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
		    <!-- Header @s -->
            <div class="header-main">
                <div class="header-container header-container-s1">
                    <div class="header-wrap">
                        <!-- Logo @s -->
                        <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".65">
                            <a href="./" class="logo-link">
                                <img class="logo-dark" src="images/logo.png" srcset="images/logo2x.png 2x" alt="logo">
                                <img class="logo-light" src="images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x" alt="logo">
                            </a>
                        </div>

                        <!-- Menu Toogle @s -->
                        <div class="header-nav-toggle">
                            <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
                        </div>

  


                        <!-- Menu @s -->
                        <div class="header-navbar header-navbar-s1">
                            <nav class="header-menu justify-content-between" id="header-menu">
                                <ul class="menu animated remove-animation" data-animate="fadeInDown" data-delay=".75">
                                    <li class="menu-item"><a class="menu-link nav-link" href="#about">About</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="/staking">Staking</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="/farm">Farm</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="/ido">IDO</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#roadmap">Roadmap</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#team">Team</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="/game">Game</a></li>
<!--                                    <li class="menu-item"><a class="menu-link nav-link" href="#contact">Contact</a></li>-->
                                    <li class="menu-item has-sub">
                                        <a class="menu-link nav-link menu-toggle" href="#">More</a>
                                        <ul class="menu-sub menu-drop">
                                            <li class="menu-item"><a class="menu-link nav-link" href="#documents">Documents</a></li>
                                            <li class="menu-item"><a class="menu-link nav-link" href="#services">Services</a></li>
                                            <li class="menu-item"><a class="menu-link nav-link" href="#partners">Partners</a></li>
                                            <li class="menu-item"><a class="menu-link nav-link" href="#contact">Contact</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="menu-btns align-items-center animated remove-animation" data-animate="fadeInDown" data-delay=".85">
                                    <li class="language-switcher language-switcher-s1 toggle-wrap">
                                        <a class="toggle-tigger" href="#">English</a>
                                        <ul class="toggle-class toggle-drop toggle-drop-left drop-list drop-list-sm">
                                            <li><a href="#">French</a></li>
                                            <li><a href="#">Chinese</a></li>
                                            <li><a href="#">Hindi</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="<%- token.sell_link %>" class="btn btn-md btn-round btn-outline btn-auto btn-primary"><span>Join Pre-sale</span></a></li>
                                    <li><a href="<%- token.buy_link %>" class="btn btn-md btn-round btn-outline btn-auto btn-primary"><span>Buy Token</span></a></li>
                                </ul>
                            </nav>
                        </div><!-- .header-navbar @e -->
                    </div>                                                
                </div>
            </div><!-- .header-main @e -->

			<!-- Banner @s -->
            <div class="header-banner bg-theme-grad-alt">
                <div class="nk-banner">
                    <div class="banner banner-fs banner-single banner-with-token-box-s1">
                        <div class="ui-shape ui-shape-header ui-shape-light"></div>
                        <div class="banner-wrap">
                            <div class="container">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-sm-10 col-md-10 col-xl-9">
                                        <div class="banner-caption tc-light text-center">
                                            <div class="cpn-title animated" data-animate="fadeInUp" data-delay="1.25">
                                                <h1 class="title title-xl-s2 title-semibold">The World’s 1<sup>st</sup> ICO Platform That Offers Rewards Contributors</h1>
                                            </div>
                                            <div class="cpn-text cpn-text-center">
                                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.35">ICO aims to become the leading digital ICO <br class="d-none d-md-block">base template in worldwide</p>
                                            </div>
                                            <div class="cpn-btns">
                                                <ul class="btn-grp justify-content-center animated" data-animate="fadeInUp" data-delay="1.45">
                                                    <li><a href="#" class="btn btn-md btn-round btn-with-icon btn-light">
                                                        <span>Join Pre-Sale</span> 
                                                        <em class="icon fas fa-angle-double-right"></em>
                                                    </a></li>
                                                    <li><a href="<%- token.whitepaper %>" class="btn btn-md btn-round btn-with-icon btn-light">
                                                        <span>White Paper</span> 
                                                        <em class="icon fas fa-angle-double-right"></em>
                                                    </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                            <div class="banner-social-wrap text-center animated" data-animate="fadeIn" data-delay="1.55">
                                <ul class="banner-social banner-social-vertical">
                                    <li><a href="<%- social.facebook %>"><em class="fab fa-facebook-f"></em></a></li>
                                    <li><a href="<%- social.twitter %>"><em class="fab fa-twitter"></em></a></li>
                                    <li><a href="<%- social.youtube %>"><em class="fab fa-youtube"></em></a></li>
                                    <li><a href="<%- social.github %>"><em class="fab fa-github"></em></a></li>
                                    <li><a href="<%- social.bitcoin %>"><em class="fab fa-bitcoin"></em></a></li>
                                    <li><a href="<%- social.medium %>"><em class="fab fa-medium-m"></em></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="nk-ovm mask-b mask-contain-bottom"></div>
                </div><!-- .nk-banner -->
                <div class="token-box token-box-s1 animated" data-animate="fadeInUp" data-delay="1.65">
                    <div class="container">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-xl-4 col-md-5">
                                <div class="token-countdown-wrapper split split-left split-md-left">
                                    <h5 class="title-sm">Pre-sale is Live Now</h5>
                                    <h6>Pre-Sale ends in</h6>
                                    <div class="countdown-small countdown-s3 countdown" data-date="<%- token.presell_date %>" data-day-text="D" data-hour-text="H" data-min-text="M" data-sec-text="S"></div>
                                </div>
                            </div><!-- .col  -->
                            <div class="col-xl-6 col-md-7">
                                <div class="token-status token-status-s1 bg-theme tc-light text-left split split-right split-md-right">
                                    <h5 class="title-sm">Pre Sale</h5>
                                    <div class="progress-bar progress-bar-s1">
                                        <div class="progress-percent progress-percent-s1 bg-theme-grad-alt" data-percent="30"></div>
                                    </div>
                                    <div class="progress-points"><span><%- token.presell_out %> <%- token.name %></span> <span><%- token.presell_amount %> <%- token.name %></span></div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .container  -->
                </div>
                
                <!-- Place Particle Js -->
				<div id="particles-bg" class="particles-container particles-bg"></div>
            </div>
            <div class="gap-5x"></div>
            <div class="gap-10x d-md-none"></div>
            <div class="gap-5x d-sm-none"></div>
			<!-- .header-banner @e -->            
		</header>
        <main class="nk-pages">
    		<%- body %>
        </main>
		 <footer class="nk-footer bg-theme-grad-alt">
            <section class="section section-l section-footer pb-0 tc-light tc-light-alt bg-transparent ov-h">
                <div class="ui-shape ui-shape-footer ui-shape-light"></div>
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block block-footer">
                        <div class="row my-md-0 mb-n4">
                            <div class="col-lg-3 col-sm-4">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title wgs-title-s2 text-white animated" data-animate="fadeInUp" data-delay=".1">FEATURES</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links wgs-links-uline wgs-links-s2 animated" data-animate="fadeInUp" data-delay=".2">
                                            <li><a href="#">Live Chat</a></li>
                                            <li><a href="#">Email Marketing</a></li>
                                            <li><a href="#">User Analytics</a></li>
                                            <li><a href="#">User Analytics</a></li>
                                            <li><a href="#">Crypto Exchange</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-4">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title wgs-title-s2 text-white animated" data-animate="fadeInUp" data-delay=".3">RESOURCES</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links wgs-links-uline wgs-links-s2 animated" data-animate="fadeInUp" data-delay=".4">
                                            <li><a href="#">Watch Demo</a></li>
                                            <li><a href="#">Whitepaper</a></li>
                                            <li><a href="#">Intigration &amp; API</a></li>
                                            <li><a href="#">iOS &amp; Android Apps</a></li>
                                            <li><a href="#">Privacy &amp; policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-4">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title wgs-title-s2 text-white animated" data-animate="fadeInUp" data-delay=".5">COMPANY</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links wgs-links-uline wgs-links-s2 animated" data-animate="fadeInUp" data-delay=".6">
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-md">
                                <div class="wgs wgs-subscribe-form">
                                    <h6 class="wgs-title wgs-title-s2 text-white animated" data-animate="fadeInUp" data-delay=".7">NewsLetter</h6>
                                    <div class="wgs-body">
                                        <div class="wgs-subscribe">
                                            <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, sed</p>
                                            <form action="form/subscribe.php" class="nk-form-submit" method="post">
                                                <div class="field-inline field-inline-s3 field-split animated" data-animate="fadeInUp" data-delay=".8">
                                                    <div class="field-wrap">
                                                        <input class="input-bordered required" type="text" placeholder="Enter your email">
                                                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                                                    </div>
                                                    <div class="submit-wrap">
                                                        <button class="btn btn-icon btn-light btn-auto"><i class="fas fa-paper-plane"></i></button>
                                                    </div>
                                                </div>
                                                <div class="form-results"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="footer-bottom section-sm">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6">
                                    <a href="./" class="wgs-logo-s2">
                                        <img src="images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x" alt="logo">
                                    </a>
                                </div><!-- .col -->
                                <div class="col-6">
                                    <div class="copyright-text text-right">
                                        <p>© ICO Crypto, 2019</p>
                                    </div>
                                </div><!-- .col -->
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
        </footer>
	</div>
	
	<div class="preloader"><span class="spinner spinner-round"></span></div>
	
	<!-- JavaScript -->
	<script src="assets/js/jquery.bundle.js?ver=1930"></script>
	<script src="assets/js/scripts.js?ver=1930"></script>
	<script src="assets/js/charts.js?ver=1930"></script>
</body>

</html>